<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<div class="reg">
		{% if request.user.is_authenticated %} 
		{% else %}
				<a href = "../login" style="color: #ffffff">Вход</a>
			</div>
		{% endif %}		
		<div class="Logo">
			<div class="final">
			</div>
			</div>
			<h1><font color="ffffff">Добавление оценки</font></h1>
			<a href = "{% url 'sammtuci' %}" style="color: #ffffff">Назад</a>
			<form method="POST">{% csrf_token %}
				<p><input type="text" name="mark_id" placeholder="Код оценки" value="{{ form.mark_id }}" autocomplete="off"></p>
				<p><input type="text" name="mark_text" placeholder="Текст оценки" value="{{ form.mark_text }}" autocomplete="off"></p>
				<p><input type="submit" value="Добавить"></p>
				{{ form.errors }}			
			</form>
	</body>
</html>