<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<script>
	var n = 0;
	var n1 = 0;
	var n2 = 0;
   function changeFunc($i) 
   {   
	   n = 1;
	   if (n == 1 && n1 == 1 && n2 == 1)
	   {
       document.getElementById("Добавить").disabled = false;
	   }
   }
   function changeFunc2($i) 
   {
	   n1 = 1;
	   if (n == 1 && n1 == 1 && n2 == 1)
	   {
       document.getElementById("Добавить").disabled = false;
	   }	     
   }
   function changeFunc3($i) 
   {
	   n2 = 1;
	   if (n == 1 && n1 == 1 && n2 == 1)
	   {
       document.getElementById("Добавить").disabled = false;
	   }	     
   }
  </script>
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
				<nav class="navbar bg-primary">
				<ul class="navbar-nav">
				<div class="card bg-warning text-white">
				<div class="card-body">
				<class="nav-item"><a href = "{% url 'sammtuci' %}" style="color: #ffffff">Назад</a>
				</div>
				</div>
				</nav>
		{% if request.user.is_authenticated %}
		{% if user.User_Type.User_Type_Name == "Сотрудник учебного отдела" %}				
		<div class="p-3 mb-2 bg-primary text-white">
			<h1><font color="ffffff">Добавление новой преподаваемой дисциплины</font></h1>
			<form method="POST">{% csrf_token %}
				<p><input type="text" name="subjectduringyear_id" placeholder="Номер преподаваемой дисплины" value="{{ form.subjectduringyear_id }}" autocomplete="off"></p>
				<p><input type="text" name="semester" placeholder="Номер семестра" value="{{ form.semester }}" autocomplete="off"></p>
				<select name="branch_name" onchange="changeFunc(value)"> 
				<option value="Выберите название направления" disabled="true" selected>Выберите название направления</option>
				{% for branch in branch %}
				<option>{{ branch.Branch_Name }}</option>
				{% if branch == current_branch %}selected="selected"{% endif %}>
				{{branch.Branch_Name|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><select name="subject_name" onchange="changeFunc2(value)"> 
				<option value="Выберите название учебной дисцплины" disabled="true" selected>Выберите учебной дисциплины</option>
				{% for subject in subject %}
				<option>{{ subject.Subject_Name }}</option>
				{% if subject == current_subject %}selected="selected"{% endif %}>
				{{subject.Subject_Name|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><select name="teacher_id" onchange="changeFunc3(value)"> 
				<option value="Выберите номер преподавателя" disabled="true" selected>Выберите номер преподавателя</option>
				{% for teacher in teacher %}
				<option>{{ teacher.id }}</option>
				{% if teacher == current_teacher %}selected="selected"{% endif %}>
				{{teacher.id|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><input type="submit" class="btn btn-warning" disabled="true" value="Добавить" id="Добавить"></p>
				<p></p>
				<nav class="navbar bg-primary">
				<ul class="navbar-nav">
				<div class="card bg-danger text-white">
				<div class="card-body">
				<li class="nav-item">Проверка корректности ввода данных: {{ form.errors }}</li>
				</div>
				</div>
				</nav>			
			</form>
			</div>
			{% else %}
			{% endif %}
			{% endif %}
	</body>
</html>