<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<div class="reg">
		{% if request.user.is_authenticated %} 
		{% else %}
				<a href = "../login" style="color: #ffffff">Вход</a>
			</div>
		{% endif %}		
		<div class="Logo">
			<div class="final">
			</div>
			</div>
			<h1><font color="ffffff">Регистрация</font></h1>
			<form method="POST">{% csrf_token %}
				<input type="text" name="surname" placeholder="Фамилия" value="{{ form.surname }}" autocomplete="off"">
				<input type="text" name="name" placeholder="Имя" value="{{ form.name }}" autocomplete="off"">
				<input type="text" name="fathername" placeholder="Отчество" value="{{ form.fathername }}" autocomplete="off"">
				<input type="text" name="login" placeholder="Логин" value="{{ form.login }}" autocomplete="off">
				<input type="text" name="mail" placeholder="Почта" value="{{ form.mail }}" autocomplete="off">
				<input type="text" name="password" placeholder="Пароль" value="{{ form.password }}" autocomplete="off">
				<input type="submit" value="Регистрация">
				{{ form.errors }}		
			</form>
	</body>
</html>