<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<div class="reg">
		{% if request.user.is_authenticated %} 
		{% else %}
				<a href = "../login" style="color: #ffffff">Вход</a>
			</div>
		{% endif %}		
		<div class="Logo">
			<div class="final">
			</div>
			</div>
			<h1><font color="ffffff">Удалить тип пользователя</font></h1>
			<a href = "{% url 'sammtuci' %}" style="color: #ffffff">Назад</a>
			<form method="POST">{% csrf_token %}
				<p><select name="usertype_name"> 
				<option value="Выберите название типа пользователя" disabled="true" selected>Выберите название типа пользователя</option>
				{% for usertype in usertype %}
				<option>{{ usertype.User_Type_Name }}</option>
				{% if usertype == current_usertype %}selected="selected"{% endif %}>
				{{usertype.User_Type_Name|capfirst}}
				</option>
				{% endfor %}></select></p>			
				<p><input type="submit" value="Удалить"></p>
				{{ form.errors }}			
			</form>
	</body>
</html>