<!DOCTYPE html>
<html>
	<div class="header">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
		{% load static %}
    </div>
	<body bgcolor="#800000">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">

	<div class="reg">
		<h><a href = "../registration" style="color: #ffffff">Регистрация</a></h>
			</div>	
			<div class="final">
			</div>
			<h1><font color="ffffff">Вход</font></h1>
			<form method="POST">{% csrf_token %}
				<input type="text" name="login" placeholder="Логин" value="{{ form.login }}" autocomplete="off">
				<input type="text" name="password" placeholder="Пароль" value="{{ form.password }}" autocomplete="off">
				<input type="submit" value="Вход">
				{{ form.errors }}				
			</form>
			<a href = "{% url 'password_reset' %}" style="color: #ffffff">Забыли пароль?</a>
		</div>
	</body>
</html>