<!DOCTYPE html>
<html>
	<div class="header">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	{% block content %}
	{% endblock %}
		<link rel="stylesheet" href="{% static 'css/article.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
		<div class="p-3 mb-2 bg-warning text-dark">
		<nav class="navbar bg-warning">
		<ul class="navbar-nav">
		<div class="card bg-info text-white">
		<div class="card-body">		
		{% if request.user.is_authenticated %}
		{{user.username}}
		{{user.Surname}}
		{{user.Name}}
		{{user.Fathername}}
		{% if user.is_superuser %}
		Администратор
		{% else %}
		{{user.User_Type}}		
		{% endif %}		
		<a href = "{% url 'logout' %}" style="color: #ffffff">Выйти</a>		
		{% else %}
		<a href = "../login" style="color: #ffffff">Вход</a>
		{% endif %}
		</nav>
		</div>
		</nav>
		</div>
		<div class="p-3 mb-2 bg-primary text-white">
		{% if user.is_superuser %}
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Направления</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_branch'" type="submit" Value="Добавить направление"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_branch'" type="submit" Value="Список направлений"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_branch'" type="submit" Value="Изменить направление"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_branch'" type="submit" Value="Удалить направление"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Факультеты</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_faculty'" type="submit" Value="Добавить факультет"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_faculty'" type="submit" Value="Список факультетов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_faculty'" type="submit" Value="Изменить факультет"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_faculty'" type="submit" Value="Удалить факультет"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Кафедры</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_department'" type="submit" Value="Добавить кафедру"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_department'" type="submit" Value="Список кафедр"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_department'" type="submit" Value="Изменить кафедру"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_department'" type="submit" Value="Удалить кафедру"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Типы пользователей</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_usertype'" type="submit" Value="Добавить тип пользвоателя"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_usertype'" type="submit" Value="Список типов пользователя"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_usertype'" type="submit" Value="Изменить тип пользователя"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_usertype'" type="submit" Value="Удалить тип пользователя"></p>
		</div>
		</div>
		</div>
		</div>
		<p></p>
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 22rem;">
		<div class="card-header bg-success">Сотрудники учебного отдела</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_deaneryuser'" type="submit" Value="Добавить сотрудника учебного отдела"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_deaneryuser'" type="submit" Value="Список сотрудников учебного отдела"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_deaneryuser'" type="submit" Value="Изменить сотрудника учебного отдела"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_deaneryuser'" type="submit" Value="Удалить сотрудника учебного отдела"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Оценки</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_mark'" type="submit" Value="Добавить оценку"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_mark'" type="submit" Value="Список оценок"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_mark'" type="submit" Value="Изменить оценку"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_mark'" type="submit" Value="Удалить оценку"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Учебные годы</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_year'" type="submit" Value="Добавить учебный год"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_year'" type="submit" Value="Список учебных лет"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_year'" type="submit" Value="Изменить учебный год"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_year'" type="submit" Value="Удалить учебный год"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Виды баллов</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_presenttype'" type="submit" Value="Добавить вид баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_presenttype'" type="submit" Value="Список видов баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_presenttype'" type="submit" Value="Изменить вид баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_presenttype'" type="submit" Value="Удалить вид баллов"></p>
		</div>
		</div>
		</div>
		</div>
		{% else %}
		{% if user.User_Type.User_Type_Name == "Сотрудник учебного отдела" %}
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Группы студентов</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_group'" type="submit" Value="Добавить группу"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_group'" type="submit" Value="Список групп"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_group'" type="submit" Value="Изменить группу"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_group'" type="submit" Value="Удалить группу"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Преподаватели</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_teacher'" type="submit" Value="Добавить преподавателя"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_teacher'" type="submit" Value="Список преподавателей"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_teacher'" type="submit" Value="Изменить преподавателя"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_teacher'" type="submit" Value="Удалить преподавателя"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Студенты</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_student'" type="submit" Value="Добавить студента"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_student'" type="submit" Value="Список студентов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_student'" type="submit" Value="Изменить студента"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_student'" type="submit" Value="Удалить студента"></p>
		</div>
		</div>
		</div>
		</div>
		<p></p>
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 19rem;">
		<div class="card-header bg-success">Учебные дисциплины</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_subject'" type="submit" Value="Добавить учебную дисциплину"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_subject'" type="submit" Value="Список учебных дисциплин"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_subject'" type="submit" Value="Изменить учебную дисциплину"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_subject'" type="submit" Value="Удалить учебную дисцплину"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 23rem;">
		<div class="card-header bg-success">Преподаваемые дисциплины</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_subjectduringyear'" type="submit" Value="Добавить преподаваемую дисцплину"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_subjectduringyear'" type="submit" Value="Список преподаваемых дисциплин"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_subjectduringyear'" type="submit" Value="Изменить преподаваемую дисциплину"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_subjectduringyear'" type="submit" Value="Удалить преподаваемую дисцплину"></p>
		</div>
		</div>
		</div>
		</div>
		</div>
		{% else %}
		{% if user.User_Type.User_Type_Name == "Преподаватель" %}
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Задания</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_task'" type="submit" Value="Добавить задание"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_task'" type="submit" Value="Список заданий"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_task'" type="submit" Value="Изменить задание"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_task'" type="submit" Value="Удалить задание"></p>
		</div>
		</div>
		</div>
		<div class="col-sm-3">
		<div class="card" style="width: 17rem;">
		<div class="card-header bg-success">Баллы</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_present'" type="submit" Value="Добавить выдачу баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_present'" type="submit" Value="Список выдач баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/update_present'" type="submit" Value="Изменить выдачу баллов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/delete_present'" type="submit" Value="Удалить выдачу баллов"></p>
		</div>
		</div>
		</div>
		</div>
		<p></p>
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 24rem;">
		<div class="card-header bg-success">Панель для преподавателя</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/teacher_read_taskgive'" type="submit" Value="Список сдач заданий"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/teacher_update_taskgive'" type="submit" Value="Выдача оценки за сдачу задания"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/teacher_read_student'" type="submit" Value="Список студентов по группам"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/teacher_read_subjectduringyear'" type="submit" Value="Список ваших преподаваемых дисциплин"></p>
		</div>
		</div>
		</div>
		</div>
		{% else %}
		{% if user.User_Type.User_Type_Name == "Студент" %}
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 24rem;">
		<div class="card-header bg-success">Панель для cтудента</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/student_read_task'" type="submit" Value="Список заданий"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/create_taskgive'" type="submit" Value="Создать сдачу задания"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_taskgive'" type="submit" Value="Список сдач заданий"></p>
		</div>
		</div>
		</div>
		</div>
		{% else %}
		<div class="row">
		<div class="col-sm-3">
		<div class="card" style="width: 24rem;">
		<div class="card-header bg-success">Панель для пользователя</div>
		<div class="card-body">
		<h5 class="card-title text-dark">Список запросов</h5>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_branch'" type="submit" Value="Список направлений"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_faculty'" type="submit" Value="Список факультетов"></p>
		<p><input class="btn btn-primary btn-block" onClick="window.location.href='http://127.0.0.1:8000/read_department'" type="submit" Value="Список кафедр"></p>
		</div>
		</div>
		</div>
		</div>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endif %}
	</body>
</html>