<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<script>
   function changeFunc($i) 
   {   
       document.getElementById("Выполнить").disabled = false;
   }
   </script>
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<div class="reg">
		{% if request.user.is_authenticated %} 
		{% else %}
				<a href = "../login" style="color: #ffffff">Вход</a>
			</div>
		{% endif %}		
		<div class="Logo">
			<div class="final">
			</div>
			</div>
			<h1><font color="ffffff">Список студентов по группе</font></h1>
			<a href = "{% url 'sammtuci' %}" style="color: #ffffff">Назад</a>
			<form method="POST">{% csrf_token %}
				<p><select name="group_id" onchange="changeFunc(value)"> 
				<option value="Выберите номер группы" disabled="true" selected>Выберите номер группы</option>
				{% for group in group %}
				<option>{{ group.Group_ID }}</option>
				{% if group == current_group %}selected="selected"{% endif %}>
				{{group.Group_ID|capfirst}}
				</option>
				{% endfor %}></select></p>			
				<p><input type="submit" id="Выполнить" value="Выполнить" disabled="true"></p>
				{{ form.errors }}			
			</form>
			<table border="1">
			<tr>
			<th>Номер студента</th>
			<th>Фамилия</th>
			<th>Имя</th>
			<th>Отчество</th>
			<th>Логин</th>
			<th>Почта</th>
			<th>Дата поступелния</th>
			<th>Номер группы</th>
			<th>Успеваемость</th>
			</tr>
			{% for student in student %}
			<tr><th>{{student.id}}</th><th>{{student.Surname}}</th><th>{{student.Name}}</th><th>{{student.Fathername}}</th>
			<th>{{student.username}}</th><th>{{student.email}}</th><th>{{student.Start_Date}}</th>
			<th>{{student.Group_ID}}</th><th>{{student.Points}}</th></tr>
			{% endfor %}
			</table>
	</body>
</html>