<!DOCTYPE html>
<html>
	<div class="header">
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
        {% load static %}
    </div>
	<body bgcolor="#800000">
	<script>
	var n = 0;
   function changeFunc($i) 
   {   
	   n = n + 1;
	   if (n == 4)
	   {
       document.getElementById("Изменить").disabled = false;
	   }
   }
   function changeFunc2($i) 
   {
	   n = n + 1;
	   if (n == 4)
	   {
       document.getElementById("Изменить").disabled = false;
	   }	     
   }
   function changeFunc3($i) 
   {
	   n = n + 1;
	   if (n == 4)
	   {
       document.getElementById("Изменить").disabled = false;
	   }	     
   }
   function changeFunc4($i) 
   {
	   n = n + 1;
	   if (n == 4)
	   {
       document.getElementById("Изменить").disabled = false;
	   }	     
   }
  </script>
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<div class="reg">
		{% if request.user.is_authenticated %} 
		{% else %}
				<a href = "../login" style="color: #ffffff">Вход</a>
			</div>
		{% endif %}		
		<div class="Logo">
			<div class="final">
			</div>
			</div>
			<h1><font color="ffffff">Изменение преподаваемой дисциплины</font></h1>
			<a href = "{% url 'sammtuci' %}" style="color: #ffffff">Назад</a>
			<form method="POST">{% csrf_token %}
				<p><select name="subjectduringyear_name" onchange="changeFunc(value)"> 
				<option value="Выберите номер преподаваемой дисциплины" disabled="true" selected>Выберите номер преподаваемой дисциплины</option>
				{% for subjectduringyear in subjectduringyear %}
				<option>{{ subjectduringyear.Subject2_ID }}</option>
				{% if teacher == current_teacher %}selected="selected"{% endif %}>
				{{teacher.id|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><input type="text" name="semester" placeholder="Номер семестра" value="{{ form.semester }}" autocomplete="off"></p>
				<select name="branch_name" onchange="changeFunc2(value)"> 
				<option value="Выберите название направления" disabled="true" selected>Выберите название направления</option>
				{% for branch in branch %}
				<option>{{ branch.Branch_Name }}</option>
				{% if branch == current_branch %}selected="selected"{% endif %}>
				{{branch.Branch_Name|capfirst}}
				</option>
				{% endfor %}></select>
				<p><select name="subject_name" onchange="changeFunc3(value)"> 
				<option value="Выберите название учебной дисцплины" disabled="true" selected>Выберите учебной дисциплины</option>
				{% for subject in subject %}
				<option>{{ subject.Subject_Name }}</option>
				{% if subject == current_subject %}selected="selected"{% endif %}>
				{{subject.Subject_Name|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><select name="teacher_id" onchange="changeFunc4(value)"> 
				<option value="Выберите номер преподавателя" disabled="true" selected>Выберите номер преподавателя</option>
				{% for teacher in teacher %}
				<option>{{ teacher.id }}</option>
				{% if teacher == current_teacher %}selected="selected"{% endif %}>
				{{teacher.id|capfirst}}
				</option>
				{% endfor %}></select></p>
				<p><input type="submit" id="Изменить" value="Изменить" disabled="true"></p>
				{{ form.errors }}			
			</form>
	</body>
</html>